.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.brigade .header {
  width: 41%;

  text-align: center;
}
.brigade .kit-img-brigade {
  position: absolute;
  top: 0;
  right: 3.5%;

  width: 50%;
  height: 100%;
}
.brigade .img-brigade {
  width: 100%;
  height: auto;

  margin-top: 12.5%;
}
.brigade .img-oibd {
  position: relative;
  left: 22.5%;

  width: auto;
  height: 65%;

  margin-top: 12.5%;
}
.brigade .label-img-brigade-characteristic {
  position: relative;

  text-align: center;
}
.brigade .kit-img-passport-trust{
  position: absolute;
  top: 0;
  left: 11.5%;

  width: 30%;
  height: 100%;
}
.brigade .img-passport-trust {
  width: 100%;
  height: auto;
  margin-top: 90%;
  margin-bottom: -105%;
}
.brigade .logo-rzd {
  position: absolute;
  bottom: 70%;
  left: 25%;

  width: 50%;
  height: auto;
}
.brigade .term {
  cursor: help;
}
.brigade .img {
  border-radius: 10px;
}
.brigade .img-document {
  width: 50%;
  height: auto;

  margin-top: 40px;
}
.type-personality .header,
.type-personality .label-img {
  position: relative;

  text-align: center;
}
.type-personality .img {
  position: absolute;
  top: 5%;
  right: 5%;

  height: 90%;
  width: auto;

  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profgruporg .header,
.profgruporg .label-img {
  width: 45%;
}
.profgruporg .img {
  right: 20%;
}
.image-norm .header,
.image-norm .label-img {
  width: 54%;
}
.image-norm .img {
  right: 4%;
}
.list-img .header {
  position: relative;
}
.list-img .list {
  position: absolute;
  top: 1%;
  left: 35%;

  padding: 0 3%;
  padding-left: 5%;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.list-img .term {
  -webkit-text-decoration: underline dashed rgba(0, 0, 0, 0.2);
          text-decoration: underline dashed rgba(0, 0, 0, 0.2);
  text-underline-position: under;

  cursor: help;
}
.list-img .showcase {
  position: absolute;
  bottom: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  width: 100%;
  height: 54.5%;
}
.list-img .kit-img {
  position: relative;

  height: 100%;
}
.list-img .img {
  width: auto;
  height: 100%;

  border-radius: 10px;
}
.list-img .label-img {
  position: absolute;
  bottom: 0;

  padding: 0 2%;

  text-align: left;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.list-img .label-img .term {
  -webkit-text-decoration: underline dashed rgba(255, 255, 255, 0.2);
          text-decoration: underline dashed rgba(255, 255, 255, 0.2);

  cursor: help;
}
.type-label-photo .label-img {
  position: absolute;
  bottom: 5%;
  left: 10%;

  width: 80%;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.type-label-photo .cover {
  width: 100%;
  height: auto;

  -o-object-fit: cover;
     object-fit: cover;
}
.professional-asset .header {
  margin-top: -3.5%;
  margin-left: -3.5%;
}
.sick-list .header {
  margin-top: -8%;
  margin-bottom: 0.5%;
}
.sick-list .column-name {
  width: 40%;
}
.comment-list .column-name {
  width: 50%;
}
.professional-asset .header {
  width: 24.5%;
}
.anniversaries .header {
  margin-left: -5%;
}
.anniversaries .showcase {
  height: 65%;
}
.holiday .header {
  margin-top: -7%;
}
.holiday .showcase {
  height: 45%;
}
.holiday .img {
  width: 49%;
  height: auto;
}
.heal-list .header {
  margin-top: -7%;
}
.heal-list .header-table {
  padding-left: 6%;

  font-weight: bold;
  text-align: left;
}
.heal-list .column-width {
  width: 60%;
}
