.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shower {
    font-family: 'PT Serif', serif;
}

.grey {
    background-color: #dcdcdc;
}
.grey h2,
.grey p,
.grey figcaption {
    color: #000000;
}

.grey .copyright {
    color: rgba(0, 0, 0, 0.4);
}

.slide .shout {
    padding: 1% 0 3% 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.slide .header {
    padding: 1% 3%;

    text-align: center;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.slide .board {
    position: relative;

    width: 90%;
    padding: 5%;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.slide .list {
    padding: 1% 4%;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.slide .img {
    border-radius: 10px;
    object-fit: cover;
}
.slide .label-img {
    padding: 1% 3%;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.slide .label-img-black {
    position: absolute;
    bottom: 0;

    padding: 0 1%;

    text-align: left;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.8);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.slide .label-img-background {
    position: absolute;
    bottom: 5%;
    left: 10%;

    width: 80%;
    padding: 0;

    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.slide .term {
    text-decoration: underline dashed rgba(0, 0, 0, 0.2);
    text-underline-position: under;

    cursor: help;
}
.slide .term-white {
    text-decoration: underline dashed rgba(255, 255, 255, 0.2);
    text-underline-position: under;

    cursor: help;
}
.slide .cover {
    object-fit: cover;
    opacity: 0.1;
}



.report .header,
.report .label-img {
    width: 41%;
}
.report .img {
    position: absolute;
    top: 5%;
    left: 52%;

    width: 28%;
    height: auto;
}



.brigade .header {
    width: 35%;
}
.brigade .kit-img-brigade {
    position: absolute;
    top: 0;
    right: 3.5%;

    width: 50%;
    height: 100%;
}
.brigade .img-brigade {
    width: 100%;
    height: auto;
    margin-top: 12.5%;
    margin-bottom: -5%;
}
.brigade .label-img-brigade-characteristic {
    position: relative;

    width: 90%;
    margin: 0 auto;

    text-align: center;
}
.brigade .kit-img-passport-trust{
    position: absolute;
    top: 0;
    left: 11.5%;

    width: 30%;
    height: 100%;
}
.brigade .img-passport-trust {
    width: 100%;
    height: auto;
    margin-top: 90%;
    margin-bottom: -102.5%;
}
.brigade .logo-rzd {
    position: absolute;
    bottom: 70%;
    left: 25%;

    width: 50%;
    height: auto;
}



.chief .header,
.chief .label-img {
    width: 41%;
}
.chief .img {
    position: absolute;
    top: 10%;
    right: 15.5%;

    width: 35%;
    height: auto;
}



.brigade-characteristic .header {
    width: 40%;
}
.brigade-characteristic .list {
    position: absolute;
    top: 5%;
    left: 50%;
}
.brigade-characteristic .kit-img {
    position: absolute;
    bottom: 10%;

    width: 40%;
    height: 50%;
}
.brigade-characteristic .kit-img-left {
    left: 0;
}
.brigade-characteristic .kit-img-right {
    right: 0;
}
.brigade-characteristic .img {
    position: absolute;

    width: auto;
    height: 100%;
}
.brigade-characteristic .img-left {
    right: 0;
}
.brigade-characteristic .img-right {
    left: 0;
}
.brigade-characteristic .label-img-left {
    position: absolute;
    bottom: 25%;
    left: 25%;
    transform: rotate(-90deg);
}
.brigade-characteristic .label-img-right {
    position: absolute;
    bottom: 35%;
    right: 17%;
    transform: rotate(-90deg);
}
.brigade-characteristic .young {
    box-sizing: border-box;
    position: absolute;
    top: -2%;

    display: block;
    width: 60px;
    height: 60px;
    padding: 5px 0;

    text-align: center;
    color: #ffffff;

    background-color: #44944a;
    border-radius: 50%;
}
.brigade-characteristic .young-left {
    right: -5%;
}
.brigade-characteristic .young-right {
    left: -5%;
}
.brigade-characteristic .cover {
    width: auto;
    height: 100%;
}



.professional-asset .header {
    width: 24.5%;
}
.professional-asset .list {
    position: absolute;
    top: 1%;
    left: 35%;
}
.professional-asset .showcase {
    position: absolute;
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 54.5%;
}
.professional-asset .kit-img {
    height: 100%;
}
.professional-asset .img {
    width: auto;
    height: 100%;
}



.exam .header {
    width: 40%;
}



.fire-extinguisher-training .cover {
    opacity: 1;
}



.special-tool .header,
.special-tool .label-img {
    width: 35%;

    text-align: center;
}
.special-tool .kit-img {
    height: 100%;
}
.special-tool .img {
    position: absolute;
    top: 10%;
    right: 5%;

    width: auto;
    height: 80%;
}



.fifa .cover {
    width: 100%;

    opacity: 1;
}



.fifa-reward .header {
    width: 50%;
}
.fifa-reward .showcase {
    position: absolute;
    bottom: 2.5%;
    left: 0;
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 70%;
}
.fifa-reward .kit-img {
    height: 100%;
}
.fifa-reward .img {
    width: auto;
    height: 100%;
}
.fifa-reward .term {
    text-underline-position: auto;
}



.wall-newspaper .header {
    width: 40%;
}



.sochi .cover {
    opacity: 1;
}



.railwaymans-day .cover {
    opacity: 1;
}


/* Начало вариантов юбилея Спиридоновой И. М. */
.anniversary-spiridonova .cover {
    opacity: 1;
}
.anniversary-spiridonova-2 .cover {
    height: 100%;
    width: auto;
}
.anniversary-spiridonova-3 .cover {
    height: auto;
    width: 100%;
}
.anniversary-spiridonova-4 .cover {
    height: auto;
    width: 100%;
}
/* Конец вариантов юбилея Спиридоновой И. М. */



.new-year .cover {
    opacity: 1;
}
